schema.xsd.j2

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           elementFormDefault="qualified">

    <!-- ===================================================================== -->
    <!-- Root Element Definition -->
    <!-- ===================================================================== -->
    <xs:element name="{{ root_element }}">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="entitytag" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===================================================================== -->
    <!-- Simple Tag Definitions -->
    <!-- These are often found as the direct children of root or of <entitytag> -->
    <!-- ===================================================================== -->
    {% for tag in flat %}
    <xs:element name="{{ tag.name }}" type="{{ tag.type }}"/>
    {% endfor %}

    <!-- ===================================================================== -->
    <!-- Component Definitions -->
    <!-- ===================================================================== -->
    {% for component in components %}
    <xs:element name="{{ component.name }}">
        <xs:complexType>
            <xs:sequence>
                {% for member in component.members %}
                <xs:element name="{{ member.name }}" type="{{ member.type }}"/>
                {% endfor %}
                {% for child in component.children %}
                <xs:element ref="{{ child.name }}"/>
                {% endfor %}
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" fixed="{{ component.ecs_type }}"/>
        </xs:complexType>
    </xs:element>
    {% endfor %}

    <!-- ===================================================================== -->
    <!-- Entity Definitions -->
    <!-- ===================================================================== -->
    <xs:element name="entitytag">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" fixed="entity"/>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
