schema.xsd.j2

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           elementFormDefault="qualified">

    <!-- ===================================================================== -->
    <!-- Root Element Definition -->
    <!-- ===================================================================== -->
    <xs:element name="{{ root_element }}">
        <xs:complexType>
            <xs:all>
                <xs:element ref="{{ entity_base_name }}" minOccurs="1" maxOccurs="unbounded"/>
                {% for definition in root_children_defs %}
                <xs:element ref="{{ definition.name }}" minOccurs="0" maxOccurs="unbounded"/>
                {% endfor %}
                {% for tag in flat %}
                <xs:element ref="{{ tag.name }}" minOccurs="0" maxOccurs="unbounded"/>
                {% endfor %}
            </xs:all>
        </xs:complexType>
    </xs:element>

    <!-- ===================================================================== -->
    <!-- Simple Tag Definitions -->
    <!-- These are often found as the direct children of root or of <entitytag> -->
    <!-- ===================================================================== -->
    {% for tag in flat %}
    <xs:element name="{{ tag.name }}" type="{{ tag.type }}"/>
    {% endfor %}

    <!-- ===================================================================== -->
    <!-- DataDef (Container) Definitions -->
    <!-- ===================================================================== -->
    {% for datadef in datadefs %}
    <xs:element name="{{ datadef.name }}">
        <xs:complexType>
            <xs:sequence>
                {% for member in datadef.members %}
                <xs:element name="{{ member.name }}" type="{{ member.type }}"/>
                {% endfor %}
                {% for child in datadef.children %}
                <xs:element ref="{{ child.name }}"/>
                {% endfor %}
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" fixed="{{ datadef.ecs_type }}"/>
        </xs:complexType>
    </xs:element>
    {% endfor %}

    <!-- ===================================================================== -->
    <!-- Component Definitions (using alternatives for variants) -->
    <!-- ===================================================================== -->
    <!-- 1. Base type for all components -->
    <xs:complexType name="componentBaseType">
      <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- 2. Define the specific complexType for each component variant by extension -->
    {% for component in components %}
    <xs:complexType name="{{ component.absolute_name }}">
        <xs:complexContent>
            <xs:extension base="componentBaseType">
                <xs:sequence>
                    {% for child in component.children %}
                    <xs:element ref="{{ child.name }}"/>
                    {% endfor %}
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    {% endfor %}

    <!-- 3. Define the single <component> element with alternatives based on 'type' attribute -->
    <xs:element name="component" type="componentBaseType">
        {% for component in components %}
        <xs:alternative test="@type = '{{ component.ecs_type }}'" type="{{ component.absolute_name }}"/>
        {% endfor %}
    </xs:element>

    <!-- ===================================================================== -->
    <!-- Entity Definitions -->
    <!-- Using xs:alternative to provide a different type for each entity variant. -->
    <!-- ===================================================================== -->
    <!-- 1. Base type for all entities -->
    <xs:complexType name="entityBaseType">
        <xs:attribute name="type" type="xs:string" use="required" fixed="entity"/>
        <xs:attribute name="variant" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- 2. Define the specific complexType for each entity variant by extension -->
    {% for entity_variant in entities %}
    <xs:complexType name="{{ entity_variant.variant_type_name }}">
        <xs:complexContent>
            <xs:extension base="entityBaseType">
                <xs:all>
                    {% for child_def in entity_variant.children|sort(attribute='name') %}
                    <xs:element ref="{{ child_def.name }}" maxOccurs="{{ child_def.maxOccurs }}"/>
                    {% endfor %}
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    {% endfor %}

    <!-- 3. Define the single <entitytag> element with alternatives -->
    <xs:element name="{{ entity_base_name }}" type="entityBaseType">
        {% for entity_variant in entities %}
        <xs:alternative test="@variant = '{{ entity_variant.variant_name }}'" type="{{ entity_variant.variant_type_name }}"/>
        {% endfor %}
    </xs:element>
    
</xs:schema>